.video {
    max-width: 1200px;
    margin: 0 auto;
    padding: 65px 20px;
  }
  
  .video__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .video__write-button {
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: 8px 16px;
    border-radius: var(--radius);
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
  }
  
  .video__write-button:hover {
    background-color: #27ae60;
  }

  .search-form {
    margin-top: 30px;
  }
  
  .search-form__row {
    display: flex;
    gap: 10px;
    background-color: #222;
    color: var(--color-text);
    border: none;
    border-radius: var(--radius);
    font-size: 15px;
  }
  
  .input--text {
    flex: 1;
    padding: 10px;
    font-size: 14px;
    border-radius: var(--radius);
    background-color: #222;
    color: var(--color-text);
    border: none;
  }
  
  /* 안내문 */
  .search-form__guide {
    font-size: 13px;
    color: var(--color-muted);
    margin-top: 10px;
    line-height: 1.6;
  }
  
  
  
  .video___card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  @media (max-width: 1024px) {
    .video__card-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 600px) {
    .video__card-grid {
      grid-template-columns: 1fr;
    }
  }
  
  .video__card-link {
    text-decoration: none;
    color: inherit;
    display: block;
  }
  
  .video__card-link:hover .video__card {
    transform: translateY(-4px);
  }
  
  .video__card {
    background-color: var(--color-surface);
    border-radius: var(--radius);
    overflow: hidden;
    box-shadow: var(--shadow);
    transition: transform 0.3s ease;
  }
  
  .video__card-body {
    padding: 16px;
  }
  
  .video__card-title {
    font-size: 18px;
    font-weight: bold;
    color: var(--color-text);
    margin-bottom: 8px;
  }
  
  .video__card-writer {
    font-size: 13px;
    color: var(--color-muted);
    margin-bottom: 10px;
  }
  
  .video__card-keywords {
    font-size: 12px;
    color: var(--color-primary);
  }
  